# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# YOLO model
yolov8n.pt

# Images
*.jpg
*.jpeg
*.png

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini
backend_ai/traffic.mp4
venv/
__pycache__/
*.pyc
yolov8n.pt
*.jpg
*.png
.vscode/
backend_ai/traffic.mp4
backend_ai/.gitignore